
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            {% include about-description.html %}
            <div class="row text-center" style="padding: 50px 25px 25px 25px;">
                <h3>Skills</h3>
                <hr class="star-light">
                <ul class="list-inline">
                    <li>
                        <div class="text-center">
                            <img src="{{site.baseurl}}/images/icons/icon_air.png" class="img-responsive img-centered">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </li>
                    <li>
                        <div class="text-center">
                            <img src="{{site.baseurl}}/images/icons/icon_haxe.png" class="img-responsive img-centered">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </li>
                    <li>
                        <div class="text-center">
                            <img src="{{site.baseurl}}/images/icons/icon_typescript.png" class="img-responsive img-centered">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </li>
                    <li>
                        <div class="text-center">
                            <img src="{{site.baseurl}}/images/icons/icon_unity.png" class="img-responsive img-centered">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </li>
                    <!--<li>
                        <div class="text-center">
                            <img src="{{site.baseurl}}/images/icons/icon_cocos2dx.png" class="img-responsive img-centered">
                            <i class="fa fa-star"></i>
                        </div>
                    </li>
                    <li>
                        <div class="text-center">
                            <img src="{{site.baseurl}}/images/icons/icon_defold.png" class="img-responsive img-centered">
                            <i class="fa fa-star"></i>
                        </div>
                    </li>-->
                </ul>
            </div>
            <div class="row col-lg-8 col-lg-offset-2 text-center" style="padding: 50px 25px 25px 25px;">
                <a href="{{site.baseurl}}/about/" class="btn btn-lg btn-outline">
                    <i class="fa fa-info-circle"></i> More Details
                </a>
            </div>
        </div>
    </section>