<div class="row">

        <p>Professional dedicated and focused with solid knowledge in the development of games.</p>

        <p>Several years of professional experience with Flash Platform: Actionscript 3, Adobe Air Mobile, Starling, Robotlegs, Feathers, StarlingMVC, Robotlegs 2, Ash/Ember, SmartFoxServer, Box2d, Dragon Bones, Papervision3d, FlexUnit. </p>

        <p>Always moving forward, following the trends. Basics knowledge of Unity3d (C#), Cocos2d-x (C++), Defold (Lua), Haxe Toolkit.</p>

        <p>Some others relevant knowledge: Swift, Java, JavaScript, TypeScript, Ionic, AngularJS, SQL, Object-oriented programming (OO), Design Patterns, MVC, UML, Git, Scrum, Kanban, UnitTest (xUnit: FlexUnit, nUnit).</p>
 
        <p>Currently, I am studying to improve my knowledge with Unity3d and Swift.</p>

        <p>English as a second language, and currently learning German by myself with Duolingo, Rosetta Stone, Busuu, and Deutsche Welle.</p>

</div>