<div class="row">

<p>Professional dedicated and focused with solid knowledge in the development of games.</p>

<p>Several years of professional experience with Flash Platform: Actionscript 3, Adobe Air Mobile, Starling, Robotlegs 1.5 / 2, As3Signal, Ash/Ember, SmartFoxServer, Box2d, Dragon Bones, Papervision3d, Away3d, FlexUnit. </p>

<p>Always moving forward, following the trends: Haxe Toolkit, OpenFl, HaxePixi, Haxe-Robotlges, PhaserJs, PixiJS, RobotlegsJs.</p>

<p>Some others relevant knowledge: Java, JavaScript, TypeScript, NodeJs, Ionic, Angular, Webpack, SQL, MongoDB, Object-oriented programming (OO), Design Patterns, MVC, UML, Git, Yarn, Scrum, Kanban, UnitTest, (xUnit: FlexUnit, nUnit).</p>

<p>Currently, I am studying to improve my knowledge with Unity3d and Javascript/TypeScript.</p>

<p>English as a second language, and currently learning German by myself with Duolingo, Rosetta Stone, Busuu, and Deutsche Welle.</p>

</div>