<div class="row text-center" style="padding: 50px 25px 25px 25px;">
    <h3>Languages</h3>
    <hr class="star-primary">
    <ul class="list-inline">
        <li>
            <div class="text-center">
                <img src="{{site.baseurl}}/images/icons/icon_portuguese.png" class="img-responsive img-centered">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </li>
        <li>
            <div class="text-center">
                <img src="{{site.baseurl}}/images/icons/icon_english.png" class="img-responsive img-centered">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </li>
        <li>
            <div class="text-center">
                <img src="{{site.baseurl}}/images/icons/icon_german.png" class="img-responsive img-centered">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </li>
    </ul>
</div>