<ul class="basic-list">
  {% for listItem in include.type %}
      <li>
        <a href="{{site.baseurl}}{{listItem.page-url}}">

          {% if listItem.thumb %}
           <img src="{{site.baseurl}}/images/{{listItem.thumb}}"/>
          {% endif %}
          <span>
            {{listItem.title}}
            {% if listItem.category %}
            <b>
              <i>{{listItem.category}}</i>
            </b>
            {% endif %}
          </span>
        </a>
      </li>
  {% endfor %}
</ul>