<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.portfolio_username }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          <li>
            {% include icon-twitter.html username=site.duolingo_username %}
          </li>
          <li>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          <li>
            <a href="{{ site.linkedin_url }}">LinkedIn</a>
          </li>
          
        </ul>
      </div>

    </div>

  </div>

</footer>
