    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="images/profile/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Game Developer</span>
                        <hr class="star-light">
                        <span class="skills">Adobe Air - Unity3d - Haxe- Cocos2d-x - Defold</span>
                    </div>
                </div>
            </div>
        </div>
    </header>